.testimonial-container {
  position: relative;
  padding: 20px; /* Add padding for better spacing */
 
}

.testimonial-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin: 0 15px; /* Add margin to prevent overlap with cards */
}

.testimonial-control.left {
  left: -80px;
}

.testimonial-control.right {
  right: -80px;
  
}

.testimonial-card {
  min-height: 250px; /* Set a minimum height for consistent card size */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s ease; /* Animation for sliding effect */
}

.testimonial-card.slide-in {
  animation: slide-in 0.5s forwards; /* Apply slide-in animation */
}

@keyframes slide-in {
  from {
    transform: translateX(-100%); /* Slide in from left */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.testimonial-img {
  width: 80px; /* Set the width for the image */
  height: 80px; /* Maintain aspect ratio */
  border-radius: 50%; /* Round the image */
}

.star {
  color: gold; /* Style the stars */
}

@media(max-width:768px){
  .testimonial-control.left {
    left: 0;
  }
  
  .testimonial-control.right {
    right: 0;
    
  }
  .testimonial-card {
    
    justify-content: center;
  }
 
}